<html>
<head>
  <title>AcademyReady - Test Player</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta http-equiv="Content-Language" content="en-us"> 
  <link href="/css/style.css" rel="stylesheet" type="text/css">

  <script src="/socket.io/socket.io.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="/js/jquery.timeago.js"></script>
  <script>
    var VIDEO_ID = '<%=id%>';
    <% if(user) { %>var USER = '<%=user%>';<% } %>
  </script>
  <script src="/js/yt.js"></script>
  <script src="/js/player.js"></script>
  <script src="/js/page.js"></script>
</head>
<body>
  <div id="modal">
    <div id="login">
      <div id="login-l">
        <h2>Create an account</h2>
        <p>An account is required to participate in discussions</p>
        <div id="re"></div>
        <input type="text" class="text-input" placeholder="Username / handle" id="u">
        <input type="password" class="text-input" placeholder="Password" id="p">
        <div align="right"><span id="registerbtn" class="btn">Register</span></div>
      </div>
      
      <div id="login-r">
        <h2>Login</h2>
        <div id="le"></div>
        <input type="text" class="text-input" placeholder="Username / handle" id="user">
        <input type="password" class="text-input" placeholder="Password" id="pass">
        
        <div align="right"><span id="loginbtn" class="btn">Login</span></div>
      </div>
    </div>
  </div>
  <div id="left">
    <div id="toolbar">
      <span id="cancel" class="btn grey">Cancel</span>
    </div>
    <div id="l-content">
      <div class="l-body">
        <h1>Thanks for helping test</h1>
        <br>
        <p>
          We're building a site to allow realtime discussion to occur in the context of a video. Think of it as Piazza for videos. When a question is created, it is pinned to the selected time in the video for which that question is relevant.
        </p>
        <br>
        <p>
          In the bottom panel you'll see several boxes. Each box contains the questions for the current time range in the video. Try dragging the progress bar of the video around to see different boxes containing questions from different times in the video highlight. Click on a question to view it at anytime. You can answer or discuss questions with the comment box.
        </p>
        <br>
        <p>
          You can add a question by clicking the red "Add Question" button. Make sure that your video is seeked to the time you wish the question to be associated with!
        </p>
      </div>
    </div>
    <div id="l-add">
      <div class="l-body">
        <p>Questions are added to a specific time in the video.</p>
        <p>Please seek the video to where you would like the question to be set</p>
        <br>
        <input type="hidden" value="time" id="add-time">
        <input type="text" class="text-input" placeholder="Title" id="add-title">
        <br>
        <textarea class="text-input" rows="10" placeholder="Description text (optional)" id="add-question"></textarea>
        <br>
        <div align="right"><span id="add-submit" class="btn">Add Discussion at <span id="add-time-display"></span></span></div>
      </div>
    </div>
  </div>
  <div id="right">
    <div id="ytapiplayer">
      Loading video
    </div>
  </div>
  <div id="progress">
    Discussions <span class="p-time">(in buckets by time) <span id="add" class="btn">Add Discussion</span></span>
  </div>
  <div id="bottom">
    
  </div>
</body>
</html>