html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #232323;
}

h1 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0;
}

#left {
  position: fixed;
  background: #333;
  left: 0;
  z-index: 3;
  overflow-y: auto;
}

#right {
  position: fixed;
  right: 0;
  background-color: #232323;
  z-index: 1;
}

#yt {
  box-shadow: 0 0 50px #000;
  position: absolute;
  z-index: 2;
}

#bottom {
  position: fixed;
  height: 160px;
  width: 100%;
  background-color: #333;
  bottom: 0;
  z-index: 3;
}

.b-panel {
  border-top: 1px solid #222;
  float: left;
  width: 199px;
  height: 159px;
  border-right: 1px solid #2b2b2b;
  background-color: #333;
  overflow-x: visible;
  overflow-y: auto;
}

.b-panel-q, .b-panel-label {
  padding: 5px 10px;
  border-bottom: 1px solid #2b2b2b;
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  font-size: 11px;
  color: #ccc;
}

.b-panel-q:hover {
  cursor: pointer;
  background-color: #222;
}

.b-panel-selected {
  background-color: #444;
  border-top: 1px solid #444;
}

.b-panel-q-selected, .b-panel-q:active {
  background-color: #111;
}

.b-panel-label {
  text-align: center;
  font-weight: bold;
}

.p-time {
  color: #666;
  font-weight: normal;
}

#progress {
  height: 35px;
  position: fixed;
  width: 100%;
  bottom: 160px;
  line-height: 32px;
  background-color: #444;
  text-align: center;
  border-top: 3px solid #222;
  font-weight: bold;
  color: #fff;
}

/*
#progress-meter {
  position: absolute;
  top: 0;
  right: 99.5%;
  width: 100.5%;
  height: 5px;
  background: url(/images/progress.png) repeat-x;
}*/

#l-content, #l-add {
  padding: 25px 25px 25px 25px;
  word-wrap: break-word;
}

#l-add {
  display: none;
}

.l-body {
  color: #ccc;
  font-size: 12px;
}

.l-created, .l-author {
  color: #ccc;
}

.darktime {
  color: #666;
  float: right;
  padding-left: 3px;
}

.l-time {
  font-weight: bold;
  color: #ccc;
}

.l-details {
  font-size: 11px;
  margin-bottom: 15px;
}

.l-commenthead {
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
}

.l-comment-meta {
  float: right;
  color: #999;
}

.l-comment {
  background-color: #444;
  margin-top: 2px;
  padding: 5px;
  font-size: 12px;
  color: #ccc;
}

.l-del {
  font-size: 11px;
  font-weight: bold;
  color: #ccc;
}

#submit-comment  {
  display: none;
}

.btn {
  background-color: hsl(0, 69%, 22%);
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(0, 69%, 42%)), to(hsl(0, 69%, 22%)));
  background-image: -moz-linear-gradient(top, hsl(0, 69%, 42%), hsl(0, 69%, 22%));
  background-image: -ms-linear-gradient(top, hsl(0, 69%, 42%), hsl(0, 69%, 22%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(0, 69%, 42%)), color-stop(100%, hsl(0, 69%, 22%)));
  background-image: -webkit-linear-gradient(top, hsl(0, 69%, 42%), hsl(0, 69%, 22%));
  background-image: -o-linear-gradient(top, hsl(0, 69%, 42%), hsl(0, 69%, 22%));
  background-image: linear-gradient(hsl(0, 69%, 42%), hsl(0, 69%, 22%));
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  padding: 5px 14px 6px;
  color: #fff;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #333;
  border-top-color: #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  background-position: 0 -15px;
  border: 1px solid #222;
}
.btn:active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.grey {
  background-color: hsl(70, 11%, 23%);
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(70, 11%, 45%)), to(hsl(70, 11%, 23%)));
  background-image: -moz-linear-gradient(top, hsl(70, 11%, 45%), hsl(70, 11%, 23%));
  background-image: -ms-linear-gradient(top, hsl(70, 11%, 45%), hsl(70, 11%, 23%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(70, 11%, 45%)), color-stop(100%, hsl(70, 11%, 23%)));
  background-image: -webkit-linear-gradient(top, hsl(70, 11%, 45%), hsl(70, 11%, 23%));
  background-image: -o-linear-gradient(top, hsl(70, 11%, 45%), hsl(70, 11%, 23%));
  background-image: linear-gradient(hsl(70, 11%, 45%), hsl(70, 11%, 23%));
  border-color: hsl(70, 11%, 23%) hsl(70, 11%, 23%) hsl(70, 11%, 17.5%);
}

#toolbar {
  text-align: right;
  background-color: #222;
}

#cancel {
  display: none;
}

.text-input {
  width: 100%;
  border: 0;
  padding: 10px;
  border-radius: 2px;
  margin: 7px 0;
  font-size: 14px;
  color: #ccc;
  background-color: #222;
}

#add-time-display {
  font-weight: bold;
  color: #fff;
}

#add {
  font-size: 11px;
  margin-top: -5px;
}

#front-text {
  color: #ccc;
  font-size: 24px;
  margin-top: 150px;
  margin-bottom: 15px;
  
}

#front-ul a {
  color: #ccc;
  text-decoration: none;
}

#front-ul {
  background-color: #111;
  width: 400px;
  margin: 0 auto;
}

#front-ul li {
  border-bottom: 1px solid #000;
  padding: 15px 10px;
  font-size: 16px;
}

#front-ul a:hover li {
  background-color: #000;
  color: #fff;
}

#modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(128,128,128,0.5);
  z-index: 500;
  display: none;
}

#login {
  width: 600px;
  height: 300px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 0 0 45px #333;
  padding: 25px;
  display: none;
}

#login-l {
  float: left;
  width: 299px;  
  border-right: 1px solid #ccc;
  margin-right: 25px;
  padding-right: 25px;
}

#login-r {
  float: left;
  width: 250px;
}


#le, #re {
  color: red;
  font-size: 11px;
  display: none;
}

#bar {
  height: 40px;
  background: #000;
  color: #eee;
  padding: 0 15px;
}

#bar .userlink {
  display: block;
  float: right;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #eee;
}

#username {
  font-weight: bold;
}



#logo {
  float: left;
}

#logo-2 {
  height: 40px;
  line-height: 40px;
  float: left;
  text-transform: uppercase;
  color: #333;
  display: inline-block;
}

